@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

a {
	@apply text-gray-200 hover:text-white hover:bg-slate-500 px-6 py-5;
}

td,
th {
	@apply p-4 border-solid border-gray-900 dark:border-gray-300 border-2;
}

th {
	@apply bg-slate-300 dark:text-gray-950 dark:bg-slate-700;
}
